# rebar3 files
.rebar3
_build
_checkouts
_vendor

# eunit
.eunit

# erlang output files
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar

# logs
logs

# intellij files
.idea
*.iml

# build crashdump
rebar3.crashdump
*~

# doc output
doc
